@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

body {
  font-family: "Young Serif", serif;
}

/* div-1  */

.sec-1 {
  display: flex;
  margin-left: 30px;
  margin-bottom: 100px;
}

.div-1 h1 {
  font-size: 50px;
  color: gray;
}

.div-1 p {
  font-size: 25px;
  font-weight: 900;
}
